<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <% include ./partials/navbar %>
  <body>
    <div class="container">
      <% include ./partials/flash_message %>
      <div class="container">
        <h1><%= title %></h1>
      </div>
      <div class="container">
        <% if (user) { %>
          <p class="text-info">Select a poll to see the results and vote. Since you are logged in, you can also edit polls.</p>
        <% } else { %>
          <p class="text-info">Select a poll to see the results and vote, or sign-in to make a new poll.</p>
        <% } %>
      </div>
      <div class="container">
        <ul class="list-group">
          <% if (user) { %>
            <li class="list-group-item">
              <a href="/polls/create">Add New Poll</a>
            </li>
          <% } %>
          <% polls.forEach(function(poll) { %>
            <li class="list-group-item">
              <a href="/polls/<%= poll.id %>/show"><%= poll.question %></a>
              <% if (user) { %>
                <a href="/polls/<%= poll.id %>/edit" class="btn btn-warning">Edit</a>
                <a href="/polls/<%= poll.id %>/destroy" class="btn btn-danger">Destroy</a>
              <% } %>
            </li>
          <% }); %>
        </ul>
        </ul>
      </div>
    </div>
  </body>
  <% include ./partials/footer %>
</html>
