<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <% include ./partials/navbar %>
  <body>
    <div class="container">
      <div class="container">
        <h1><%= poll.question %></h1>
      </div>
      <div class="container">
        <ul>
          <% poll.Choices.forEach(function(choice) { %>
            <li>
              <%= choice.option %></a> <a href="/polls/<%= poll.id %>/choice/<%=  choice.id %>/destroy">Destroy</a>
              <form action="/polls/<%= poll.id %>/choice/<%= choice.id %>/vote" method="post" style="display: inline">
                <input type="Submit" value="Vote <%=choice.Votes.length %>"/>
              </form>
            </li>
          <% }); %>
          <li>
            Add option:
            <form action="/polls/<%= poll.id %>/choice/create", method="post", style="display: inline">
              <input type="text" name="option">
              <input type="Submit"/>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <% include ./partials/footer %>
</html>
